<html>
<head>
<style>
body{
  background-color:cadetblue;
}
</style>
</head>
<body>
<center>
<h1> Home Page</h1>
<div>
  <a href="/login">Login</a><span> || </span>
  <a href="/signIn">Sign Up</a><span> || </span>
  <a href="/logout">Logout</a>
</div>
</center>
</body>
</html>
