<html>
<head>
<style>
body{
  background-color:aqua;
}
</style>
</head>
<body>
<center>
<h1>
    SignUp Page
</h1>
<form action="/signIn" method="POST">
    <label for="username">UserName</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" required><br><br>
    <label for="fullName">Full Name</label>
    <input type="text" name="fullName" id="fullName" required><br><br>
    <button>Submit</button>
</form><br><br>
<div>
    <a href="/">Home</a><span> || </span>
    <a href="/login">login</a>
</div>
</center>
</body>
</html>