<html>
<head>
<style>
body{
  background-color:cadetblue;
}
</style>>
</head>
<body>
<center>
<h1>
    User Profile
</h1>
<h2 id="title"></h2>
<p>
    The user ..... has been here the most.
</p>
<div>
    <a href="/">Home</a><span> || </span>
    <a href="/logout">Logout</a>
</div>
</center>
</body>
</html>